html {
  overflow-y: scroll;
}

header {
  @apply p-10;
}

header h1 {
  color: config('colors.gray-blue');
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}

a,
a:visited {
  color: config('colors.gun-metal');
}

a:hover {
  color: config('colors.medium-candy-apple-red');
}
