@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Playfair+Display');

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  @include sassline($fontsize: theta, $font: $bodytype, $lineheight: 1.8, $below: 1, $breakpoint: all);
  color: $charcoal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
