html {
  @apply .font-serif;
  color: config('colors.gray-blue');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .font-sans;
}

h1 {
  color: config('colors.anti-flash-white');
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  @apply .leading-normal mb-2;
}
