[class^="container__col-"] {
    position: relative;
}

.display__block {
    display: block;
}

.display__inline-block {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.flex__align-items-center {
    align-items: center;
}

.flex__align-items-end {
    align-items: flex-end;
}

.flex__justify-content-center {
    justify-content: center;
}

.flex__space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.full-height {
    [class^="container__col-"] {
        position: relative;
    }
}

.full-width {
    min-width: 100vw;
}

.flex__gutter {
    [class^="container__col-"] {
        padding-right: 1rem;
    }
}

.margin-auto {
    margin: auto;
}

.container__spacing {
    margin: 2rem auto 2rem auto;

    &__auto-bottom-only {
        margin: 0 auto 2rem auto;
    }
}

.ie-vertical-height-flex-fix {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}
