.progress {
  margin: auto;
  top: 15rem;
  background: config('colors.gray-blue');
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.progress-bar {
  margin: 0 auto;
  background: config('colors.portfolio-red');
  transition: all 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.loader-animation-enter,
.loader-animation-leave-to {
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
