.progress {
  margin: auto;
  top: 15rem;
  background: config('colors.gray-blue');
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.progress.remove {
  opacity: 0;
  visibility:  hidden;
}


.progress-bar {
  margin: 0 auto;
  background: config('colors.portfolio-red');
  transition: all 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
